*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

ul,
li {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  color: #131313;
}

.container {
  max-width: 1220px;
  padding: 0 10px;
  margin: 0 auto;
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo__img {
  display: block;
}

.menu {
  margin-right: 70px;
}
.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.menu__item + .menu__item {
  margin-left: 10px;
}
.menu__link {
  text-transform: uppercase;
  padding: 42px 20px 41px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.menu__link:hover {
  background-color: #131313;
  color: #fff;
}

.button {
  display: inline-block;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 1.1em;
  padding: 28px 71px;
  background-color: #131313;
  color: #fff;
}

.slick-dots {
  position: absolute;
  top: 0;
}
.slick-dots li + li {
  padding-top: 10px;
}
.slick-dots button {
  font-size: 0;
  padding: 0;
  border: none;
  width: 3px;
  height: 25px;
  border-radius: 7px;
  background-color: #131313;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.slick-dots button:hover {
  background-color: #ff4040;
}

.slick-active button {
  background-color: #ff4040;
}

.product {
  padding: 100px 0 150px;
}
.product__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.product__title {
  font-size: 64px;
  font-weight: 700;
  line-height: 77px;
  margin-top: 69px;
  margin-bottom: 5px;
}
.product__subtitle {
  font-size: 32px;
  font-weight: 400;
  line-height: 39px;
  color: #6f6f6f;
  margin-bottom: 60px;
}
.product__text {
  max-width: 420px;
  margin-bottom: 20px;
}
.product__text + .product__text {
  margin-bottom: 90px;
}
.product__link {
  text-align: center;
  display: inline-block;
}
.product__box {
  max-width: 630px;
  margin-left: 30px;
}
.product__slider .slick-dots {
  top: 50px;
  right: 0;
}
.product__table {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-align: center;
  margin-top: 25px;
}
.product__table-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 160px;
  min-height: 58px;
}
.product__table-num {
  text-transform: uppercase;
  font-weight: 700;
}
.product__table-subtext {
  text-transform: lowercase;
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  margin: auto 0;
}

.info_img {
  -ms-flex-preferred-size: 570px;
      flex-basis: 570px;
  -o-object-fit: cover;
     object-fit: cover;
}
.info__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.info__box {
  margin-left: 60px;
}
.info__title {
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.info__text {
  max-width: 450px;
  margin-bottom: 50px;
}
.info__text:last-child {
  margin-bottom: 0;
}

.characteristic__title {
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  text-transform: uppercase;
  margin-bottom: 40px;
}
.characteristic__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.characteristic__list-title {
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  background-color: #131313;
}