// ---- ---- reset ---- ---- //
@import 'slick.scss';
@import 'normalize.scss';
@import 'myreset.scss';

// ---- ---- colors ---- ---- //
$color_white: #fff;
$color_black: #131313;
$color_grey: #6f6f6f;
$color_red: #ff4040;

// ---- ---- *** ---- ---- //
body {
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  color: $color_black;
}
// ---- ---- main ---- ---- //
.container {
  max-width: 1220px;
  padding: 0 10px;
  margin: 0 auto;
}
.header {
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.menu {
  margin-right: 70px;
  &__list {
    display: flex;
    justify-content: space-between;
  }
  &__item + &__item {
    margin-left: 10px;
  }
  &__link {
    text-transform: uppercase;
    padding: 42px 20px 41px;
    transition: all 0.4s ease;
    &:hover {
      background-color: $color_black;
      color: $color_white;
    }
  }
}
.button {
  display: inline-block;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 1.1em;
  padding: 28px 71px;
  background-color: $color_black;
  color: $color_white;
  cursor: pointer;
  transition: all 0.3s ease;
  &:hover {
    background-color: $color_red;
    color: $color_white;
  }
}
.slick-dots {
  position: absolute;
  top: 0;
  li + li {
    padding-top: 10px;
  }
  button {
    font-size: 0;
    padding: 0;
    border: none;
    width: 3px;
    height: 25px;
    border-radius: 7px;
    background-color: $color_black;
    cursor: pointer;
    transition: all 0.3s;
    &:hover {
      background-color: $color_red;
    }
  }
}
.slick-active button {
  background-color: $color_red;
}
.product {
  padding: 100px 0 100px;
  &__inner {
    display: flex;
    justify-content: space-between;
  }
  &__title {
    font-size: 64px;
    font-weight: 700;
    line-height: 77px;
    margin-top: 69px;
    margin-bottom: 5px;
  }
  &__subtitle {
    font-size: 32px;
    font-weight: 400;
    line-height: 39px;
    color: $color_grey;
    margin-bottom: 60px;
  }
  &__text {
    max-width: 420px;
    margin-bottom: 20px;
    & + & {
      margin-bottom: 90px;
    }
  }
  &__link {
    text-align: center;
    display: inline-block;
  }
  &__box {
    max-width: 630px;
    margin-left: 30px;
  }

  &__slider {
    .slick-dots {
      top: 50px;
      right: 0;
    }
  }
  &__table {
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin-top: 25px;
  }
  &__table-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 160px;
    min-height: 58px;
  }
  &__table-num {
    text-transform: uppercase;
    font-weight: 700;
  }
  &__table-subtext {
    text-transform: lowercase;
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    margin: auto 0;
  }
}
.info {
  padding: 50px 0 100px;

  &__img {
    flex-basis: 570px;
    object-fit: cover;
  }
  &__inner {
    display: flex;
  }
  &__box {
    margin-left: 60px;
  }
  &__title {
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    text-transform: uppercase;
    margin-bottom: 10px;
  }
  &__text {
    max-width: 450px;
    margin-bottom: 50px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}
.characteristic {
  padding-top: 50px;
  margin-bottom: 150px;
  &__title {
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    text-transform: uppercase;
    margin-bottom: 40px;
  }
  &__inner {
    display: flex;
  }
  &__items {
    flex-basis: 570px;
    margin-right: 60px;
  }
  &__list {
    & + & {
      padding-top: 30px;
    }
  }
  &__list-title {
    font-weight: 700;
    text-transform: uppercase;
    color: $color_white;
    background-color: $color_black;
    padding: 2px 0 3px;
    margin-bottom: 10px;
  }
  &__line {
    display: flex;
    padding-top: 5px;
  }
  &__name {
    flex-basis: 285px;
  }
  &__descr {
    flex-basis: 285px;
  }
  &__img {
    align-self: center;
  }
}
.bikes {
  margin-bottom: 50px;
  &__slider-item {
    margin-left: 50px;
  }
  &__img {
    object-fit: cover;
  }
}
.order {
  margin-bottom: 100px;
  &__inner {
    position: relative;
  }
}
.form {
  max-width: 420px;
  &__title {
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    text-transform: uppercase;
    margin-bottom: 40px;
  }
  &__text {
    max-width: 300px;
    margin-bottom: 30px;
  }
  &__input-text {
    color: $color_grey;
    opacity: 0.5;
    margin-bottom: 10px;
  }
  &__input-name {
    width: 100%;
    border: none;
    border-bottom: 1px solid $color_black;
    padding: 10px;
    margin-bottom: 20px;
    outline: none;
    &::placeholder {
      color: $color_grey;
      opacity: 0.5;
    }
  }
  &__input-phone {
    width: 100%;
    border: none;
    border-bottom: 1px solid $color_black;
    padding: 10px;
    margin-bottom: 20px;
    outline: none;
    &::placeholder {
      color: $color_grey;
      opacity: 0.5;
    }
  }
  &__lable-box {
    display: flex;
    margin-bottom: 50px;
  }
  &__lable {
    & + & {
      margin-left: 23px;
    }
  }
  &__input-radio {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    &:checked + .form__bike {
      display: block;
    }
  }
  &__bike {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
  }
  &__bike-price {
    position: absolute;
    top: 30px;
    left: 0;
    right: 0;
    width: 220px;
    height: 100px;
    font-size: 32px;
    line-height: 39px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid $color_red;
    border-radius: 50%;
    transform: translateX(-50%);
    &::after {
      content: '';
      position: absolute;
      top: 9px;
      width: 220px;
      height: 100px;
      border: 1px solid $color_red;
      border-radius: 50%;
    }
  }
  &__radio-style {
    display: block;
    width: 80px;
    height: 12px;
    border-radius: 30px;
    cursor: pointer;
  }
  &__radio-style--grey {
    background-color: $color_grey;
  }
  &__radio-style--white {
    background-color: $color_white;
    border: 1px solid $color_grey;
  }
  &__radio-style--red {
    background-color: $color_red;
  }
}
.footer {
  font-size: 12px;
  line-height: 15px;
  text-transform: lowercase;
  background-color: $color_black;
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $color_white;
  }
  &__link {
    text-decoration: underline;
    padding: 43px 0 42px;
  }
  &__social-link {
    & + & {
      margin-left: 28px;
    }
  }
  &__contacts-link {
    display: flex;
    align-items: center;
    & + & {
      margin-top: 10px;
    }
  }
  &__contacts-img {
    margin-right: 10px;
  }
}

// ---- ---- 1110 ---- ---- //
@media (max-width: 1110px) {
  .product {
    padding-top: 0;
    &__inner {
      flex-wrap: wrap;
    }
    &__subtitle {
      margin-bottom: 25px;
    }
    &__text {
      max-width: 100%;
      & + & {
        margin-bottom: 30px;
      }
    }
    &__box {
      margin-top: 30px;
      max-width: 100%;
      margin-left: 0;
    }
  }
  .characteristic {
    &__img {
      max-width: 450px;
    }
  }
  .bikes__img {
    height: 550px;
  }
  .form {
    &__bike {
      top: 50px;
    }
    &__bike-img {
      width: 540px;
    }
  }
}
// ---- ---- 1000 ---- ---- //
@media (max-width: 1000px) {
  .menu {
    margin-right: 0;
  }
  .info {
    &__box {
      margin-left: 20px;
    }
    &__img {
      flex-basis: 500px;
      max-width: 500px;
    }
  }
  .bikes__img {
    height: 500px;
  }

  .form {
    margin: 0 auto;
    &__text {
      max-width: 100%;
    }
    &__lable-box {
      margin-bottom: 345px;
      justify-content: space-evenly;
    }
    &__bike {
      top: auto;
      left: auto;
      right: 200px;
      bottom: 82px;
    }
    &__bike-img {
      width: 520px;
    }
  }
}
// ---- ---- 950 ---- ---- //
@media (max-width: 950px) {
  .characteristic {
    margin-bottom: 75px;
    &__img {
      max-width: 400px;
    }
  }
  .bikes__img {
    height: 450px;
  }
}
// ---- ---- 900 ---- ---- //
@media (max-width: 900px) {
  .info {
    &__box {
      margin-left: 10px;
    }
    &__img {
      flex-basis: 400px;
      max-width: 400px;
    }
  }
  .characteristic {
    &__inner {
      flex-wrap: wrap;
    }
    &__items {
      flex-basis: 100%;
      margin-right: 0;
    }
    &__name {
      margin-right: 15px;
      flex-basis: 50%;
    }
    &__descr {
      flex-basis: 50%;
    }
    &__img {
      margin: 0 auto;
      margin-top: 30px;
      max-width: 100%;
    }
  }
  .form {
    &__bike {
      right: 145px;
    }
  }
}
// ---- ---- 800 ---- ---- //
@media (max-width: 800px) {
  .product {
    padding-bottom: 20px;
  }
  .info {
    padding-bottom: 20px;
    &__inner {
      flex-direction: column;
    }
    &__box {
      max-width: 100%;
      margin-left: 0px;
      margin-bottom: 25px;
    }
    &__text {
      max-width: 100%;
      margin-bottom: 30px;
    }
    &__img {
      order: 2;
      max-height: 450px;
      object-position: bottom;
      margin: 0 auto;
    }
  }
  .bikes__img {
    height: 375px;
  }
  .form {
    &__bike {
      right: 70px;
    }
    &__bike-price {
      top: 30px;
      left: auto;
      right: -45px;
      transform: scale(0.8);
    }
  }
}
// ---- ---- 650 ---- ---- //
@media (max-width: 650px) {
  .header {
    &__inner {
      display: block;
      text-align: center;
    }
  }
  .menu {
    margin-top: 45px;
    &__list {
      justify-content: space-evenly;
    }
    &__item {
      & + & {
        margin-left: 0;
      }
    }
    &__link {
      padding: 30px 15px;
    }
  }
  .product {
    &__title {
      font-size: 50px;
      line-height: 50px;
      margin-top: 50px;
    }
    &__subtitle {
      font-size: 29px;
      line-height: 30px;
    }
  }
  .bikes {
    &__slider-item {
      margin-left: 10px;
    }
    &__img {
      height: 290px;
    }
  }
  .form {
    &__bike {
      right: 30px;
    }
    &__btn {
      width: 100%;
      max-width: 420px;
    }
  }
  .button {
    display: block;
    max-width: 420px;
    padding: 25px 0;
    margin: 0 auto;
  }
}
// ---- ---- 580 ---- ---- //
@media (max-width: 580px) {
  .form {
    margin: 0;
    &__lable-box {
      margin-bottom: 275px;
    }
    &__bike {
      top: auto;
      left: 0;
      right: auto;
      bottom: 81px;
    }
    &__bike-price {
      top: 18px;
    }
    &__bike-img {
      width: 400px;
    }
    &__btn {
      width: 100%;
      max-width: 420px;
    }
  }
  .footer {
    &__inner {
      flex-direction: column;
    }
    &__social {
      display: flex;
      justify-content: space-between;
      width: 80px;
      margin: 35px 0;
    }
    &__social-link {
      & + & {
        margin-left: 0;
      }
    }
    &__link {
      padding: 0;
      margin: 25px 0;
      order: 3;
    }
  }
}
// ---- ---- 470 ---- ---- //
@media (max-width: 470px) {
  .product {
    &__table {
      flex-wrap: wrap;
    }
    &__table-text {
      width: 50%;
      margin-bottom: 10px;
    }
  }
  .bikes__img {
    height: 240px;
  }
  .form {
    &__bike-img {
      width: 370px;
    }
  }
}
// ---- ---- 420 ---- ---- //
@media (max-width: 420px) {
  .menu {
    margin-top: 25px;
    &__list {
      justify-content: space-around;
    }

    &__link {
      padding: 20px 7px;
    }
  }
  .product {
    &__title {
      font-size: 37px;
      line-height: 40px;
      margin-top: 30px;
    }
    &__subtitle {
      font-size: 20px;
      line-height: 25px;
    }
  }
  .info {
    &__img {
      max-height: 450px;
      object-position: bottom;
      margin: 0;
    }
  }
  .characteristic {
    &__list {
      & + & {
        padding-top: 15px;
      }
    }
  }
  .bikes__img {
    height: 200px;
  }
  .form {
    margin: 0;
    &__lable-box {
      margin-bottom: 275px;
    }
    &__bike {
      left: 38px;
      bottom: 75px;
    }
    &__bike-price {
      top: -90px;
      left: 30px;
    }
    &__bike-img {
      width: 280px;
    }
    &__btn {
      width: 100%;
      max-width: 420px;
    }
  }
}
// ---- ---- 360 ---- ---- //
@media (max-width: 360px) {
  .menu {
    margin-top: 5px;
    &__list {
      flex-direction: column;
    }
    &__link {
      display: flex;
      flex-direction: column;
      padding: 15px;
    }
  }
  .product {
    &__title {
      font-size: 33px;
      line-height: 38px;
      margin-top: 25px;
    }
    &__subtitle {
      font-size: 19px;
      line-height: 25px;
    }
  }
  .characteristic {
    &__line {
      font-size: 12px;
    }
  }
  .bikes__img {
    height: 170px;
  }
  .form {
    &__bike {
      left: 15px;
    }
    &__bike-price {
      top: -90px;
      left: 30px;
    }
  }
  .button {
    letter-spacing: 0.7em;
  }
}
